In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("youtube_ad_revenue_dataset.csv")
df.head()

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,vid_3092,50:41.0,9936,1221.0,320.0,26497.21418,2.862137,228086,Entertainment,TV,IN,203.178237
1,vid_3459,50:41.0,10017,642.0,346.0,15209.74744,23.738069,736015,Gaming,Tablet,CA,140.880508
2,vid_4784,50:41.0,10097,1979.0,187.0,57332.65850,26.200634,240534,Education,TV,CA,360.134007
3,vid_4078,50:41.0,10034,1191.0,242.0,31334.51777,11.770340,434482,Entertainment,Mobile,UK,224.638261
4,vid_3522,50:41.0,9889,1858.0,477.0,15665.66643,6.635854,42030,Education,Mobile,CA,165.514388

In [4]:
df.describe()

,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,ad_revenue_usd
count,122400.000000,116283.000000,116288.000000,116295.000000,122400.000000,122400.000000,122400.000000
mean,9999.856283,1099.633618,274.396636,37543.827721,16.014165,502191.719902,252.727210
std,99.881260,519.424089,129.741739,12987.724246,8.083790,288397.470103,61.957052
min,9521.000000,195.000000,48.000000,14659.105560,2.000142,1005.000000,126.590603
25%,9933.000000,650.000000,162.000000,26366.320565,9.004695,252507.500000,199.902018
50%,10000.000000,1103.000000,274.000000,37531.990340,16.005906,503465.500000,252.749699
75%,10067.000000,1547.000000,387.000000,48777.782090,23.021260,752192.000000,305.597518
max,10468.000000,2061.000000,515.000000,61557.670090,29.999799,999997.000000,382.768254

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   video_id              122400 non-null  object
 1   date                  122400 non-null  object
 2   views                 122400 non-null  int64
 3   likes                 116283 non-null  float64
 4   comments              116288 non-null  float64
 5   watch_time_minutes    116295 non-null  float64
 6   video_length_minutes  122400 non-null  float64
 7   subscribers           122400 non-null  int64
 8   category              122400 non-null  object
 9   device                122400 non-null  object
 10  country               122400 non-null  object
 11  ad_revenue_usd        122400 non-null  float64
dtypes: float64(5), int64(2), object(5)
memory usage: 11.2+ MB

# Data cleaning

In [7]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

In [9]:
df['date'] = pd.to_datetime(df['date'])

DateParseError: hour must be in 0..23: 50:41.0, at position 0